body{
    font-family: Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    width: 100vw;
}

main > * {
    margin: 10vw;
    margin-bottom: 50px;
}

.profile{
    position: relative;
    width: fit-content;
}

.profile img {
    width: 100%;
}

.profile h1{
    position: absolute;
    bottom: 0px;
    left: 16px;

    margin: 0;
    font-size: 48px;
    color: white;
}

h2{
    font-size: 30px;
}

.bibliography {
    text-align: center;
}

.bibliography p{
    color: gray;
    line-height: 1.7;
    text-align:left;
}

header{
    display: flex;
    flex-direction: column;

    align-items: center;
}
